.navbar {
    margin: 2em auto 2em auto;
}

.navbar a {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.active {
    background-color: #4caf50;
    color: white;
}
